body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: flex-start;
    height: 100vh;
}

#banner {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner img {
    width: 50px;
    height: 50px;
}

#banner img:first-child {
    margin-right: 10px;
}

#banner img:last-child {
    margin-left: 10px;
}

#skaters-info {
    color: white;
    text-align: center;
}

#battle-info {
    margin: 10;
    padding: 10;
}

.gray-text {
    color: white;
    text-decoration: underline;
}

#battle-info>span {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 200px;
}